/* @use "./footer/ProjectList";
@use "./footer/LanguageList";
@use "./footer/ProjectList"; */
.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 25px 13px;
  .projects,
  .languages,
  .credits {
    padding: 13px;
  }
}
