.main-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 40px;
}
.main-content .logo {
  max-width: 500px;
}
.main-content .logo h3 {
  color: #2596be;
}
.main-content .logo img {
  width: 100%;
}
.main-content .logo .catchphrase {
  text-align: center;
  font-size: 18px;
}
.main-content .wrap {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid gainsboro;
  border-radius: 6px;
  box-shadow: 0 5px 10px gainsboro;
  padding: 25px;
  min-width: 25%;
  /* .line {
    p::before {
      content: "";
      width: 100%;

      position: absolute;
      left: 0;
      border: 4px solid gainsboro;
    }
  } */
}
.main-content .wrap a {
  color: #e9731a;
  -webkit-text-decoration: underline #e38c48;
          text-decoration: underline #e38c48;
}
.main-content .wrap form {
  text-align: center;
  width: 325px;
}
.main-content .wrap form button {
  background-color: #4ea8c8;
  border: none;
  border-radius: 7px;
  color: #fcfcf7;
  cursor: pointer;
  width: 130px;
  padding: 7px;
  margin: 15px 0;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.4s ease;
  margin-bottom: 10px;
}
.main-content .wrap form button:hover {
  background-color: #2596be;
  box-shadow: 0 5px 10px gainsboro;
}
.main-content .wrap form input {
  border: 1px solid gainsboro;
  border-radius: 6px;
  width: 80%;
  padding: 10px;
  display: block;
  margin: 16px auto;
}
.main-content .wrap form input:focus {
  outline: none;
}
.main-content .wrap .more-info {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

#email-input,
#password-input {
  transition: border 0.3s;
}

/* @use "./footer/ProjectList";
@use "./footer/LanguageList";
@use "./footer/ProjectList"; */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* LOGIN QUERIES */
  .main-content {
    width: 100%;
    margin: auto;
    padding: 30px 0;
  }
  .main-content .logo {
    width: 300px;
  }
  .main-content .wrap {
    width: 45%;
    height: 300px !important;
    padding: 0;
  }
  .main-content .wrap form input {
    font-size: 15px;
    width: 90%;
  }
  .main-content .wrap .more-info {
    font-size: 15px;
  }
  /* CHAT QUERIES */
  header nav {
    padding: 5px 0;
  }
  header nav .logo {
    width: 130px;
  }
  main {
    grid-template-columns: 7fr 1.5fr !important;
  }
  main .wrap {
    width: 100%;
    height: 90dvh !important;
  }
  main .container form {
    padding: 15px 6px !important;
  }
  main .container form button {
    display: block !important;
    align-items: center;
    justify-content: center;
    background-color: #f98f3e;
    border: none;
    border-radius: 7px;
    color: #fcfcf7;
    cursor: pointer;
    width: 50px;
    padding: 4px;
    margin: 15px 10px;
    transition: all 0.3s ease;
  }
  main .container form button svg {
    fill: #fcfcf7;
    color: rgba(51, 51, 51, 0.7764705882);
  }
  main .users-active h2 {
    padding: 10px 0 !important;
  }
}
@media screen and (max-width: 767px) {
  /* LOGIN QUERIES */
  .main-content {
    padding: 30px 0;
  }
  .main-content .logo {
    width: 300px;
  }
  .main-content .wrap {
    width: 80%;
    min-width: 20%;
    height: 300px !important;
    padding: 0;
  }
  .main-content .wrap form input {
    font-size: 16px;
    width: 90%;
  }
  .main-content .wrap .more-info {
    font-size: 16px;
  }
  /* CHAT QUERIES */
  header nav {
    padding: 5px 0;
  }
  header nav .logo {
    width: 130px;
  }
  main {
    display: block !important;
  }
  main .wrap {
    width: 100%;
    height: 90dvh !important;
  }
  main .wrap .chat .msg {
    font-size: 20px !important;
  }
  main .container form {
    padding: 5px 6px !important;
  }
  main .container form button {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: #f98f3e;
    border: none;
    border-radius: 7px;
    color: #fcfcf7;
    cursor: pointer;
    width: 50px;
    padding: 4px;
    margin: 15px 10px;
    transition: all 0.3s ease;
  }
  main .container form button svg {
    fill: #fcfcf7;
    color: rgba(51, 51, 51, 0.7764705882);
  }
  main .users-active {
    display: none;
  }
}
.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 25px 13px;
}
.footer-content .projects,
.footer-content .languages,
.footer-content .credits {
  padding: 13px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monserrat", sans-serif;
}

body {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: 1fr auto;
}
body main {
  width: 100%;
  margin: auto;
}
body footer {
  border-top: 1px solid gainsboro;
  text-align: center;
}
body footer h3 {
  margin-bottom: 15px;
}
body footer a {
  color: #333;
  text-decoration: none;
}
body footer a:hover {
  -webkit-text-decoration: underline #333;
          text-decoration: underline #333;
}
body footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body footer ul li {
  list-style: none;
  color: #333;
}/*# sourceMappingURL=Register.css.map */