main {
  display: flex;
  justify-content: center;

  .container {
    border-top: 1px solid gainsboro;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    width: 600px;

    #chat-form {
      width: 100%;
      input {
        background-color: transparent;
        border: 1px solid rgb(157, 157, 157);
        border-radius: 6px;
        padding: 10px;
        font-size: 0.98em;
        width: 90%;
        &:focus {
          outline: none;
        }
      }
      button {
        background-color: #e9731a;
        border: none;
        border-radius: 7px;
        color: #fcfcf7;
        cursor: pointer;
        width: 65px;
        padding: 10px 6px;
        margin: 15px 10px;
        font-weight: 600;
        font-size: 16px;
        width: 8%;
        transition: all 0.4s ease;
      }
    }
  }
}
