main {
  display: flex;
  justify-content: center;

  .container {
    border-top: 1px solid gainsboro;
    width: 600px;
    #chat-form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding: 20px 6px;
      width: 100%;
      input {
        background-color: transparent;
        border: 1px solid rgb(157, 157, 157);
        border-radius: 6px;
        padding: 10px;
        font-size: 0.98em;
        width: 95%;
        &:focus {
          outline: none;
        }
      }
      button {
        display: none;
      }
    }
  }
}
